PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/estacionamientoDB
JWT_SECRET=
NODE_ENV=development

# SMTP para verificación de cuenta y recuperación de contraseña
SMTP_SERVICE=gmail
SMTP_USER=
SMTP_PASS=
